@import url(base.css);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--base-color);
}

.logo {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}

#menu-icon {
  font-size: 2.5rem;
  display: none;
}

.navbar a {
  font-size: 1.5rem;
  transition: color 0.2s linear;
}

.navbar > a:not(:last-child) {
  margin-right: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--highlight-primary);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--base-color), var(--primary-color));
}

.home-content h1 {
  font-size: 5rem;
  line-height: 8rem;
  font-weight: 700;
}

.home-content h3 {
  font-size: 4rem;
  line-height: 6rem;
  padding-bottom: 1rem;
}

.home-content h3 span {
  color: var(--highlight-primary);
}

.home-content p {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.home-content .social-media-list a {
  display: inline-flex;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  color: var(--highlight-primary);
  border: 0.3rem solid var(--highlight-primary);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.2s ease;
}

.home-content .social-media-list a:hover {
  background-color: var(--highlight-primary);
  color: white;
  box-shadow: 0 0 1.5rem var(--highlight-primary);
}

.home-content .btn--solid-primary {
  box-shadow: 0 0 1rem var(--highlight-primary);
  transition: 0.2s ease;
}

.home-content .btn--solid-primary:hover {
  box-shadow: none;
  transform: translateY(-0.2rem);
}

.home-image {
  padding: 0 0 5rem 10rem;
}

.home-image img {
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  animation: imgFloat 4s ease-in-out infinite;
}

@keyframes imgFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.skill {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill .heading {
  font-size: 4.5rem;
  line-height: 1.2;
}

.skill .heading span {
  color: var(--highlight-primary);
}

.skill .skill-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0;
}

.skill .skill-icon .icon {
  width: 5rem;
}

.skill-content {
  width: 70%;
}

.skill .skill-content .label {
  font-size: 1.8rem;
  line-height: 1.2;
}

.skill .skill-content > .label:not(:first-child) {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.skill .skill-content ul li {
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: justify;
}

.skill .skill-content ul li span {
  font-weight: 600;
  color: var(--highlight-primary);
}

.project {
  background: linear-gradient(to bottom, var(--secondary-color), var(--base-color));
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project .heading {
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--highlight-primary);
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-container .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  min-height: 30rem;
}

.project-box:hover {
  box-shadow: 0 0 1rem var(--highlight-primary);
}

.project-box img {
  width: 100%;
  object-fit: cover;
  transition: 3s ease;
}

.project-box:hover img {
  transform: scale(1.2);
}

.project-box .project-layer {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(35, 35, 35, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  backdrop-filter: blur(0.5rem);
  transition: 0.3s ease;
}

.project-box:hover .project-layer {
  top: 0;
}

.project-layer h4 {
  font-size: 3rem;
  line-height: 2;
  color: var(--highlight-primary);
}

.project-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 2.5rem;
  color: white;
}

.project-layer div > :first-child {
  margin-right: 1.5rem;
}

.project div:has(.btn--solid-primary) {
  text-align: center;
}

.contact .heading {
  font-size: 4.5rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4rem;
}

.contact .heading span {
  color: var(--highlight-primary);
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.contact form div {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.contact label {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.contact input,
textarea {
  margin: 0.5rem 2rem 0;
  font-size: 1.7rem;
  width: calc(100% - 6rem);
}

.contact input {
  background-color: transparent;
  border-bottom: 0.1rem solid var(--highlight-secondary);
  padding: 0.1rem 1rem;
  outline: none;
}

.contact form div .underline {
  bottom: -2rem;
  position: absolute;
  border-bottom: 0.1rem solid var(--highlight-primary);
  margin-left: 2rem;
  width: calc(100% - 6rem);
  transform-origin: left;
  transform: scale(0);
  transition: 0.5s ease;
}

.contact input:focus ~ .underline {
  transform: scale(1);
}

.contact textarea {
  background-color: transparent;
  border: 0.1rem solid var(--highlight-secondary);
  border-radius: 2rem;
  padding: 1rem;
  resize: none;
}

.contact textarea:focus {
  border: 0.15rem solid var(--highlight-primary);
}

.contact .btn--solid-primary {
  margin: 0 auto;
}

.contact .contact-content {
  margin-top: 4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  font-size: 1.5rem;
}

.contact .contact-content span {
  font-weight: 600;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--base-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .navbar > a:first-child {
    margin-top: 1rem;
  }

  .home {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 4rem;
    line-height: 1.5;
  }

  .home-content h3 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .home-content .social-media-list a {
    margin: 1.5rem 1.5rem 1.5rem;
  }

  .home-image {
    margin-top: 4rem;
    padding: 0 5rem 3rem 5rem;
  }

  .home-image img {
    width: 70vw;
    height: 70vw;
  }

  .project h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 610px) {
  .project-container {
    padding: 0 10%;
    grid-template-columns: repeat(1, 1fr);
  }

  .project-container .project-layer h4 {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .contact label {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
}

@media (max-width: 365px) {
  .project-container .btn--border-primary,
  .btn--solid-primary {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0.1rem solid var(--highlight-primary);
  }

  .project-layer p {
    font-size: 1.4rem;
  }
}
